{% extends 'BlogCitas/layout.html' %}
{% load static %}
{% block body %}
<div class="citas">
    <div class="buttons">
        <button id="horario" class="btn btn-primary">Saber el horario de tu cita</button>
        <button id="eliminar" class="btn btn-primary">Eliminar cita</button>
    </div>

    <div class="formularios">
        <form id="form-horario" action="{% url 'eliminar_cita' %}" method="post">
            <legend id="titulo"></legend>
            {% csrf_token %}
            <input type="hidden" name="accion"  id="accion">
            <div class="form-group">
                <label for="correo">Correo electrónico con el que hizo la cita</label>
                <input class="form-control" id="correo_registrado" type="email" name="correo" placeholder="ejemplo@gmail.com" required>
            </div>
            <div class="wrapper">
                <input type="submit" class="btn btn-success">
            </div>
        </form>

        {% if horario%}
        <div>{{ horario }}</div>
        {% endif %}
    </div>

</div>
{% endblock %}
{% block script %}<script src="{% static 'BlogCitas/horario.js' %}"></script>{% endblock %}